@import "tailwindcss";

body {
  background: #0f0f11;
  color: white;
  font-family:
    var(--font-suse-mono), ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
}

::selection {
  background: #000000;
  color: #ffffff;
}
